@charset "UTF-8";

body
{
    margin: 0;
    font-size: 0;
    font-family: "roboto slab";
}

p
{
    margin: 0;
}

.wrap
{
    width: 800px;
    margin: auto;
}

release-box
{
  --main-colour: #eccb02;
  --sub-colour: #5d5e7a;
  --dark-colour: #614432;
}