@charset "UTF-8";

body
{
    margin: 0;
    font-size: 0;
    font-family: "roboto slab";
}

p
{
    margin: 0;
}

.wrap
{
    width: 800px;
    margin: auto;
}

.release
{
    width: 800px;
}

.release div
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.release .left
{
    width: 300px;
    height: 360px;
    /*line-height: 360px;*/
}

.release .image
{
    width: 300px;
    /*vertical-align: middle;
    line-height: initial;*/
}

.release .image img
{
    width: 100%;
    display: inline-block;
}

.release .image .dev-info
{
    width: 100%;
    font-size: 25px;
    margin-top: 5px;
    text-align: center;
    color: white;
    background-color: blue;
}

.release .title
{
    width: 100%;
    margin-bottom: 15px;
}

.release .title div
{
    width: 100%;
    padding-left: 10px;
}

.title .jp
{
    height: 55px;
    line-height: 55px;
    font-size: 35px;
}

.title .en
{
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    padding-left: 30px !important;
}

.title .border
{
    height: 12px;
    text-align: center;
    padding: 0;
}

.title .border-inside
{
    width: 80% !important;
    height: 12px;
    padding: 0;
    border-bottom: 1px solid yellow;
}

.release .info
{
    width: 500px;
}

.info .char-boxes
{
    padding-left: 60px;
    height: 360px;
    overflow: auto;
}

.info .character
{
    width: 180px;
    height: 180px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.info .character img
{
    width: 100%;
}