@charset "UTF-8";

@font-face
{
    font-family: "roundm-med";
    src: url("font/ff1.ttf");
}

body
{
    margin: 0;
    font-size: 0;
    font-family: "roboto slab","roundm-med";
}

p
{
    margin: 0;
}

.wrap
{
    width: 800px;
    margin: auto;
}

release-box
{
  --main-colour: #eccb02;
  --sub-colour: #5d5e7a;
  --dark-colour: #614432;
  margin-bottom: 75px;
}