@charset "UTF-8";

body
{
    margin: 0;
}

a
{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

a:hover
{
    background-color: rgba(0,0,0,.2);
}